.DS_Store

# deprecated code
data/*
tests/*
build/*
.legacy*

# non-public examples
examples/obj/*
examples/deprecated/*
examples/rotatetest.cc
examples/extractcoefs.cc
examples/config_flags.h.in
examples/eigenbasics.cc

# not-fully-implemented features
include/accumulate.h
include/leapfrog.h

# external modules
extern/*
