.DS_Store

# deprecated code
data/*
tests/*
.legacy*

# non-public examples
examples/obj/*
examples/deprecated/*
examples/rotatetest.cc

# not-fully-implemented features
include/accumulate.h
include/leapfrog.h
