.DS_Store

# deprecated code
build/*
.legacy*

# non-public examples
src/obj/*
src/deprecated/*
src/rotatetest.cc
src/extractcoefs.cc
src/config_flags.h.in
src/eigenbasics.cc
src/eigentest.cc
src/fullintegrate.cc
src/figures/*
src/compare_discs.cc
src/density_map.cc
src/rotcurve.cc
src/test_capabilities.py
src/Makefile


# not-fully-implemented features
include/accumulate.h
include/leapfrog.h

# external modules
extern/*

# maximum resolution data
data/disc.cache.run9mlde

# Python
*.ipynb_checkpoints*
*__pycache__*

# Installation
mwlmc.cpython-38-darwin.so
mwlmc.egg-info/
.eggs/*

# Git
*.orig
